{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static '/index.css' %}">
    <title>Markov Artur</title>
</head>
<body>
    <h1>Привет, Это Марков Артур!</h1>
    <h2>Это моя первая веб-страница с использованием Django.</h2>
    <h3>Тут я добавил стили CSS.</h3>
    <img src="{% static '/img1.png' %}" alt="Логотип" type="image/png"/>
    <h4>Маркированный список</h4>
    <ul>
        <li>1 элемент</li>
        <li>2 элемент</li>
        <li>3 элемент</li>
        <li>4 элемент</li>
    </ul>
    <h4>Нумерованный список</h4>
    <ol>
        <li>1 элемент</li>
        <li>2 элемент</li>
        <li>3 элемент</li>
        <li>4 элемент</li>
    </ol>
    <p>Таблица</p>
    <table style="border: none">
        <thead>
            <tr>
                <th>1 элемент</th>
                <th>2 элемент</th>
                <th>3 элемент</th>
                <th>4 элемент</th>
                <th>5 элемент</th>
                <th>6 элемент</th>
            </tr>
        </thead>
        <tr>
            <td>1стр 1стл</td>
            <td>1стр 2стл</td>
            <td>1стр 3стл</td>
            <td>1стр 4стл</td>
            <td>1стр 5стл</td>
            <td>1стр 6стл</td>
        </tr>
        <tr>
            <td>2стр 1стл</td>
            <td>2стр 2стл</td>
            <td>2стр 3стл</td>
            <td>2стр 4стл</td>
            <td>2стр 5стл</td>
            <td>2стр 6стл</td>
        </tr>
        <tr>
            <td>3стр 1стл</td>
            <td>3стр 2стл</td>
            <td>3стр 3стл</td>
            <td>3стр 4стл</td>
            <td>3стр 5стл</td>
            <td>3стр 6стл</td>
        </tr>
        <tr>
            <td>4стр 1стл</td>
            <td>4стр 2стл</td>
            <td>4стр 3стл</td>
            <td>4стр 4стл</td>
            <td>4стр 5стл</td>
            <td>4стр 6стл</td>
        </tr>
    </table>
</body>
</html>

